.hover-shadow {
  transition: all 0.3s ease;
}
.hover-shadow:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

body {
  background: linear-gradient(180deg, #121212 0%, #1e1e1e 100%);
  color: white;
}

/* Opzionale: Cambiare lo sfondo della navbar o header */
header {
  background-color: #2a2a2a;
}

/* Altri componenti se vuoi */
.card {
  background-color: #2a2a2a;
  border-radius: 10px;
}

/* Hover cards - Cambiamenti con animazione */
.hover-shadow {
  transition: all 0.3s ease;
}
.hover-shadow:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Effetto Blur sul background dietro l'Offcanvas */
.offcanvas-backdrop.show {
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.5); /* Sfondo leggermente oscurato */
}

/* Fade-in dell'Offcanvas */
.offcanvas.offcanvas-start {
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  opacity: 0;
}

.offcanvas.offcanvas-start.show {
  opacity: 1;
}
